<h1>Welcome to one month rails</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<p>You found the homepage for the blog one month rails app
  <%= link_to "One Month Rails Link", "http://onemonthrails.com" %>
</p>

<p>
  <%= link_to "Sign up now!", "#" %>
</p>